{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <h1 class="text-center">Jordan Retro 5 Off-White</h1>
     <p class="text-center lead">Las Air Jordan 1 fueron producidas por primera vez para Michael Jordan en 1984. Fueron diseñadas por Peter C. Moore.</p>
    <div class="row">
      <div class="col-md-6">
        <img src="{{ url_for('static', filename='img/jordan-retro-5.jpg') }}" class="img-fluid rounded my-4" alt="Air Jordan 1">
      </div>
      <div class="col-md-6">
        <h2>Features</h2>
       <ul>
      <li>Parte superior de cuero para mayor durabilidad y aspecto premium.</li>
      <li>Unidad de Air-Sole encapsulada en el talón que proporciona amortiguación.</li>
      <li>Suela exterior de goma sólida que proporciona durabilidad en una variedad de superficies.</li>
      <li>Cuello y lengüeta acolchados para un ajuste cómodo.</li>
    </ul>
      </div>
    </div>

    <body>
  <!-- otras secciones -->
  <div class="gallery-container">
    <div class="gallery">
      <div><img src="static/img/jordan-retro-5-6.jpg"></div>
      <div><img src="static/img/jordan-retro-5-1.jpg"></div>
      <div><img src="static/img/jordan-retro-5-2.jpg"></div>
      <div><img src="static/img/jordan-retro-5-3.jpg"></div>
      <div><img src="static/img/jordan-retro-5-4.jpg"></div>
      <div><img src="static/img/jordan-retro-5-5.jpg"></div>

      <!-- añade tantas imágenes como quieras -->
    </div>
    <div class="arrow arrow-left"><i class="fa fa-angle-left"></i></div>
    <div class="arrow arrow-right"><i class="fa fa-angle-right"></i></div>
  </div>
  <!-- otras secciones -->
</body>

 </div>
{% endblock %}