{% extends 'base.html' %}

{% block content %}
  <div class="container my-5">
    <h1 class="text-center">Jordan 1 Low</h1>
    <p class="text-center lead">Las Air Jordan 1 Low son una versión más baja y versátil de las icónicas zapatillas Air Jordan 1. Estas zapatillas de baloncesto, diseñadas por Nike en colaboración con el legendario jugador de baloncesto Michael Jordan, son reconocidas por su estilo atemporal y su impacto en la cultura sneaker.</p>

    <div class="row">
      <div class="col-md-6">
        <img src="{{ url_for('static', filename='img/jordan-low.jpg') }}" class="img-fluid rounded my-4" alt="Air Jordan Mid">
      </div>
      <div class="col-md-6">
        <h2>Características</h2>
        <ul>
          <li>Diseño icónico con el logotipo de las alas de Jordan y el logotipo del salto en el tobillo.</li>
          <li>Parte superior de cuero de alta calidad o materiales sintéticos..</li>
          <li>Perfil bajo para mayor versatilidad.</li>
          <li>Unidad de amortiguación en el talón para mayor comodidad.</li>
        </ul>
      </div>
    </div>

    <h2 class="mt-5">Galería</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-4">
      {% for i in range(1, 7) %}
      <div class="col">
        <img src="{{ url_for('static', filename='img/air-jordan-mid-' ~ i ~ '.jpg') }}" class="img-fluid rounded" alt="Air Jordan Mid">
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}